<form [formGroup]="userForm">

  <div class="mb-3">
    <label class="form-label" for="name">{{ formLabels.name }}</label>
    <input (blur)="onValueChanges()"
           [class]="{'is-valid':  form['name'].valid,
                    'is-invalid': form['name'].invalid && (form['name'].dirty || form['name'].touched)}"
           class="form-control" formControlName="name" id="name" placeholder="{{formPlaceholders.name}}" type="text">
    <div *ngIf="form['name'].valid" class="valid-feedback">{{ formSuccess }}</div>
    <div *ngIf="form['name'].invalid && (form['name'].dirty || form['name'].touched)" class="invalid-feedback">{{ formErrors.name }}</div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="password">{{ formLabels.password }}</label>
    <input (blur)="onValueChanges()"
           [class]="{'is-valid':  form['password'].valid,
                    'is-invalid': form['password'].invalid && (form['password'].dirty || form['password'].touched)}"
           class="form-control" formControlName="password" id="password" placeholder="{{formPlaceholders.password}}" type="password">
    <div *ngIf="form['password'].valid" class="valid-feedback">{{ formSuccess }}</div>
    <div *ngIf="form['password'].invalid && (form['password'].dirty || form['password'].touched)"
         class="invalid-feedback">{{ formErrors.password }}
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label" for="email">{{ formLabels.email }}</label>
    <input (blur)="onValueChanges()"
           [class]="{'is-valid':  form['email'].valid,
                    'is-invalid': form['email'].invalid && (form['email'].dirty || form['email'].touched)}"
           class="form-control" formControlName="email" id="email" placeholder="{{formPlaceholders.email}}" type="email">
    <div *ngIf="form['email'].valid" class="valid-feedback">{{ formSuccess }}</div>
    <div *ngIf="form['email'].invalid && (form['email'].dirty || form['email'].touched)" class="invalid-feedback">{{ formErrors.email }}
    </div>
  </div>

</form>
